/* Num columns Grid */
$columns: 12;

/* Breakpoints */
$bp-tablet: 768px;
$bp-mobile: 576px;

/* App Colors */
$primary: #616161;
$p-light: #8e8e8e;
$p-dark: #373737;

$secondary: #ffa726;
$s-light: #ffd95b;
$s-dark: #c77800;

$white: #ffffff;